#ifndef __CONFIG_H_
#define __CONFIG_H_

#define WIFI_SSID "yourNetworkName"
#define WIFI_PASSWD "yourNetworkPassword"

#define SHELLY_URL "http://192.168.178.%d/relay/0?turn=toggle"
#define SHELLY_URL_BUFFER 2+strlen(SHELLY_URL)

#endif // __CONFIG_H_
